@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f4f8;
  color: #1a202c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  outline: none;
}

button:hover {
  opacity: 0.9;
}



